.chatwindow{
    margin-top: 20px;
    border-radius:15px;
}

.robot{
    margin: 10px;
    border:1px solid;
    border-radius:15px;
    text-decoration-color: brown;
}

.robot p{
    margin: 5px;
}

.you p{
    margin: 5px;
}

.you{
    margin: 10px;
    border:1px solid;
    border-radius:15px;
    color: indigo;
}

.chatwindow i{
    margin: 10px;
}

.chatlog{
    padding: 5px;
}

.inputbox{
    size: 30px;
    border-radius: 15px;
}
